body {
  display:none;
	  font-family: Raleway, sans-serif;
	  font-size: 16px;
}

.form-control:focus {
  border-color: #000;
  box-shadow: none;
}

.container-fluid {
	max-width: 1170px;
}

#mc_embed_signup div.mce_inline_error {
  background-color: transparent !important;
  color: #ff0000 !important;
  padding-left: 0 !important;
}

#mc-embedded-subscribe {
  padding: 10px 20px;
}

section {
	padding: 80px 0;
}

iframe {
	margin: 0 auto;
	display: block;
}

a {
	color: #333;
}

a:hover {
	color: #000;
}

.form-control {
	border-radius: 0;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  border-radius: 0;
  background: #333;
  border-color: transparent;
  padding: 6px 20px;
}

.table>tbody>tr>td {
	padding: 16px 8px;
	vertical-align: middle;
}

.band-image {
  height: 700px;
  background: url(../img/cj_bg.jpg) center top no-repeat;
  background-size: cover;
  position: relative;
  display:block;
}

.band-image .logo {
  transform: translateY(250%);
}

.band-image .logo img {
		margin: 0 auto;
}

.tour-dates {
	color: #fff;
	background-color: #000;
}

.instagram {
	background-color: #333;
	color: #fff;
}

.booking {
	background-color: #bfbbbc;
	text-align: center;
}

footer {
	background: #000;
	color: #fff;
	padding: 20px 0;
}

footer p {
	margin-bottom: 0;
}

h1 {
	text-align: center;
	margin-bottom: 40px;
  margin-top: 0;
	font-size: 50px;
  font-weight: 900;
}

.music {
	background: #bfbbbc;
	color: #000;
}

.video {
	background: #000;
}

.video iframe {
	border: 1px solid #bfbbbc !important;
}

@media only screen and (min-width: 1440px) {
  .band-image { 
  	height: 800px; 
  }
  
  .band-image .logo { 
  	transform: translateY(250%); 
  }
}

@media only screen and (max-width: 1339px) {
  .band-image { 
  	height: 750px; 
  }
    
  .band-image .logo { 
  	transform: translateY(230%); 
  }
}

@media only screen and (max-width: 1299px) {
  .band-image { 
  	height: 645px; 
  }
    
  .band-image .logo { 
  	transform: translateY(200%); 
	}

}
@media only screen and (max-width: 1199px) {
  .band-image { 
  	height:530px; 
  }
  
  .band-image .logo { 
  	transform: translateY(170%) scale(0.8); 
  }
}

@media only screen and (max-width: 960px) {
  .band-image { 
  	background-position:center 55px; 
  	background-size:cover; 
  	height: 450px; 
  }
  
  .band-image .logo { 
  	transform: translateY(25%) scale(1); 
  	padding: 190px 0 20px;
  }
      
  .band-image .logo img { 
  	max-width: 60%; 
  }
}

@media only screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }
  
  .band-image { 
  	/*background-position:center 55px; */
    background-position: center 0;
  	background-size:cover; 
  	height: auto; 
  }
  
  .band-image .logo { 
  	transform: translateY(0) scale(1); 
  	padding: 190px 0 20px;
  }
      
  .band-image .logo img { 
  	max-width: 60%; 
  }

  section {
    padding: 40px 0;
  }

  h1 {
    font-size: 28px;
  }
}

@media only screen and (max-width: 550px) {
  .band-image .logo { 
  	padding: 90px 0 30px;
  }
}




