<div class="col-sm-3 hidden-xs hidden-sm">
<h1>Instagram</h1>
<h1>Tour</h1>
<table class="table">
	<thead>
		<tr>
			<td>Date</td>
			<td>Venue</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Jun 20th</td>
			<td>Pinch Penny Pub</td>
		</tr>
		<tr>
			<td>Jun 21th</td>
			<td>The Terrace</td>
		</tr>
		<tr>
			<td>Jun 28th</td>
			<td>Arranmore Ale Fest</td>
		</tr>
		<tr>
			<td>Jul 4th</td>
			<td>Firewater Saloon</td>
		</tr>
	</tbody>
</table>
</div>