<%= render partial: "application/page_banner" %>

<div class="container">
	<div class="row">
		<div class="col-md-9 col-sm-12">
			<h1>About</h1>
			<p>Straight out of the Windy City, these five country at heart musicians 
				round up to form COWBOY JUKEBOX. From Florida Georgia Line and Miranda 
				Lambert to Garth Brooks and Dolly Parton, Cowboy Jukebox shoots country 
				music straight and true. Whether you missed out on your favorite country 
				artist or just ready for a night of fun, the dudes and the darlin of Cowboy 
				Jukebox have you covered with their shut yer mouth, slap yer grandma spot on 
				performance. So, see ya at the next show for music and shots. And remember 
				we like whiskey.</p>
		</div>
		<%= render partial: "application/page_sidebar" %>
	</div>
</div>
