<%= render partial: "application/page_banner" %>

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-12">
			<h2>About</h2>
				<h3>Biography</h3>
				<p>Straight out of the Windy City, these five country at heart musicians 
					round up to form COWBOY JUKEBOX. From Florida Georgia Line and Miranda 
					Lambert to Garth Brooks and Dolly Parton, Cowboy Jukebox shoots country 
					music straight and true. Whether you missed out on your favorite country 
					artist or just ready for a night of fun, the dudes and the darlin of Cowboy 
					Jukebox have you covered with their shut yer mouth, slap yer grandma spot on 
					performance. So, see ya at the next show for music and shots. And remember 
					we like whiskey.</p>
				<h3>Songs We Might Play</h3>
				<table class="table">
					<thead>
						<tr>
							<th>Song</th>
							<th>Artist</th>
						</tr>
					<thead>
					<tbody>
						<tr>
							<td>Chainsaw</td>
							<td>The Band Perry</td>
						</tr>
						<tr>
							<td>Save a Horse Ride a Cowboy</td>
							<td>Big and Rich</td>
						</tr>
						<tr>
							<td>Beat this Summer</td>
							<td>Brad Paisley</td>
						</tr>
						<tr>
							<td>Beat of the Music</td>
							<td>Brett Eldredge</td>
						</tr>
						<tr>
							<td>Don't Ya</td>
							<td>Brett Eldredge</td>
						</tr>
						<tr>
							<td>Cowboy Casanova</td>
							<td>Carrie Underwood</td>
						</tr>
						<tr>
							<td>Good Girl</td>
							<td>Carrie Underwood</td>
						</tr>
						<tr>
							<td>19 You and Me</td>
							<td>Dan and Shay</td>
						</tr>
						<tr>
							<td>Wagon Wheel</td>
							<td>Darius Rucker</td>
						</tr>
						<tr>
							<td>Home</td>
							<td>Dierks Bentley</td>
						</tr>
						<tr>
							<td>Some Days You Gotta Dance</td>
							<td>Dixie Chicks</td>
						</tr>
						<tr>
							<td>Springsteen</td>
							<td>Eric Church</td>
						</tr>
						<tr>
							<td>Friday Night</td>
							<td>Eric Paslay</td>
						</tr>
						<tr>
							<td>Cruise</td>
							<td>Florida Georgia Line</td>
						</tr>
						<tr>
							<td>Round Here</td>
							<td>Florida Georgia Line</td>
						</tr>
						<tr>
							<td>This is How we Roll</td>
							<td>Florida Georgia Line</td>
						</tr>
						<tr>
							<td>Tip It Back</td>
							<td>Florida Georgia Line</td>
						</tr>
						<tr>
							<td>Helluva Life</td>
							<td>Frankie Ballard</td>
						</tr>
						<tr>
							<td>Friends in Low Places</td>
							<td>Garth Brooks</td>
						</tr>
						<tr>
							<td>Here For The Party</td>
							<td>Gretchen Wilson</td>
						</tr>
						<tr>
							<td>Redneck Woman</td>
							<td>Gretchen Wilson</td>
						</tr>
						<tr>
							<td>I Want Crazy</td>
							<td>Hunter Hayes</td>
						</tr>
						<tr>
							<td>Barefoot Blue Jean Night</td>
							<td>Jake Owen</td>
						</tr>
						<tr>
							<td>Why You Wanna</td>
							<td>Jana Kramer</td>
						</tr>
						<tr>
							<td>Drink to That All Night</td>
							<td>Jerrod Niemann</td>
						</tr>
						<tr>
							<td>Ring of Fire</td>
							<td>Johnny Cash</td>
						</tr>
						<tr>
							<td>Follow Your Arrow</td>
							<td>Kacey Musgraves</td>
						</tr>
						<tr>
							<td>Cop Car</td>
							<td>Keith Urban</td>
						</tr>
						<tr>
							<td>You Look Good in my Shirt</td>
							<td>Keith Urban</td>
						</tr>
						<tr>
							<td>American Kids</td>
							<td>Kenny Chesney</td>
						</tr>
						<tr>
							<td>Beer Money</td>
							<td>Kip Moore</td>
						</tr>
						<tr>
							<td>Bartender</td>
							<td>Lady Antebellum</td>
						</tr>
						<tr>
							<td>We Owned The Night</td>
							<td>Lady Antebellum</td>
						</tr>
						<tr>
							<td>Giddy on Up</td>
							<td>Laura Bell Bundy</td>
						</tr>
						<tr>
							<td>Little White Church</td>
							<td>Little Big Town</td>
						</tr>
						<tr>
							<td>Country Girl</td>
							<td>Luke Bryan</td>
						</tr>
						<tr>
							<td>That's My Kind of Night</td>
							<td>Luke Bryan</td>
						</tr>
						<tr>
							<td>Fastest Girl in Town</td>
							<td>Miranda Lambert</td>
						</tr>
						<tr>
							<td>Mama's Broken Heard</td>
							<td>Miranda Lambert</td>
						</tr>
						<tr>
							<td>Somethin' Bad</td>
							<td>Miranda Lambert / Carrie Underwood</td>
						</tr>
						<tr>
							<td>Running Outta Moonlight</td>
							<td>Randy Houser</td>
						</tr>
						<tr>
							<td>Stuck on You</td>
							<td>Sugarland</td>
						</tr>
						<tr>
							<td>Courtesy of the Red, White, and Blue</td>
							<td>Toby Keith</td>
						</tr>
						<tr>
							<td>Red Solo Cup</td>
							<td>Toby Keith</td>
						</tr>
						<tr>
							<td>Honky Tonk Badonkadonk</td>
							<td>Trace Adkins</td>
						</tr>
					</tbody>
				</table>
		</div>
		<%= render partial: "application/page_sidebar" %>
	</div>
</div>
