<%= render partial: "application/page_banner" %>

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-12">
			<h1>Band</h1>
			<div class="media">
  				<a class="pull-left" href="#">
    				<img class="media-object" src="http://placehold.it/200x200">
  				</a>
  				<div class="media-body">
    			<h2 class="media-heading">Adam Michaels</h2>
          <h4>Lead Vocals/Guitar</h4>
    				
  				</div>
			</div>
			<div class="media">
  				<a class="pull-left" href="#">
    				<img class="media-object" src="http://placehold.it/200x200">
  				</a>
  				<div class="media-body">
    			<h2 class="media-heading">Laura Savage</h2>
          <h4>Lead Vocals</h4>
    				
  				</div>
			</div>
			<div class="media">
  				<a class="pull-left" href="#">
    				<img class="media-object" src="http://placehold.it/200x200">
  				</a>
  				<div class="media-body">
    			<h2 class="media-heading">Nick Adelberger</h2>
          <h4>Lead Guitar</h4>
    				
  				</div>
			</div>
			<div class="media">
  				<a class="pull-left" href="#">
    				<img class="media-object" src="http://placehold.it/200x200">
  				</a>
  				<div class="media-body">
    			<h2 class="media-heading">Doug Pawlik</h2>
          <h4>Bass/Vocals</h4>
    				
  				</div>
			</div>
			<div class="media">
  				<a class="pull-left" href="#">
    				<img class="media-object" src="http://placehold.it/200x200">
  				</a>
  				<div class="media-body">
    			<h2 class="media-heading">Matt Adelberger</h2>
          <h4>Drums</h4>
    				
  				</div>
			</div>
		</div>
		<%= render partial: "application/page_sidebar" %>
	</div>
</div>