<%= render partial: "application/page_banner" %>

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-12">
			<h2>Contact</h2>
			<div class="row">
				<div class="col-sm-6">
					<h3>Booking</h3>
					<address>
  					<strong>Josh Niemiera</strong><br>
  					<a href="mailto:#">josh@doubledbooking.com</a><br>
  					<abbr title="Phone">P:</abbr> (773) 289-5117 / (800) 608-2579 ext 2
					</address>
					<%= link_to image_tag("double-d-logo2.jpg", height: '50%', width: '50%'), "http://www.doubledbooking.com", target: '_blank' %>
				</div>
				<div class="col-sm-6">
					<h3>General</h3>
					<address>
  					<strong>Matt Adelberger</strong><br>
  					<a href="mailto:#">matt.adelberger@gmail.com</a><br>
					</address>
				</div>
			</div>		
		</div>
		<%= render partial: "application/page_sidebar" %>
	</div>
</div>
