<%= render partial: "application/page_banner" %>

<div class="container">
	<div class="row">
		<div class="col-md-9 col-sm-12">
			<h1>Contact</h1>
			<div class="row">
				<div class="col-sm-6">
					<h2>Booking</h2>
					<address>
  					<strong>Justin Sattazahn</strong><br>
  					<a href="mailto:#">justin@doubledbooking.com</a><br>
  					<abbr title="Phone">P:</abbr> (773) 289-5117 / (800) 608-2579 ext 3
					</address>
				</div>
				<div class="col-sm-6">
					<h2>General</h2>
					<address>
  					<strong>Matt Adelberger</strong><br>
  					<a href="mailto:#">matt.adelberger@gmail.com</a><br>
					</address>
				</div>
			</div>		
		</div>
		<%= render partial: "application/page_sidebar" %>
	</div>
</div>
