<%= render partial: "application/page_banner" %>

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-12">
			<h2>Stage Plot</h2>
			<h3>Coming Soon!</h3>
		</div>
		<%= render partial: "application/page_sidebar" %>
	</div>
</div>