<%= render partial: "application/page_banner" %>

<div class="container">
	<div class="row">
		<div class="col-md-9 col-sm-12">
			<h1>Tour</h1>
			<table id="tour" class="tour table">
				<thead>
					<tr>
						<td>Date</td>
						<td>Venue</td>
						<td>Location</td>
						<td>Time</td>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<%= render partial: "application/page_sidebar" %>
	</div>
</div>
