<%= render partial: "application/page_banner" %>

<div class="container">
	<div class="row">
		<div class="col-md-9 col-sm-12">
			<h1>Tour</h1>
			<table class="tour table">
				<thead>
					<tr>
						<td>Date</td>
						<td>Venue</td>
						<td>Location</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Jun 20th</td>
						<td>Pinch Penny Pub</td>
						<td>Carbondale, IL</td>
					</tr>
					<tr>
						<td>Jun 21th</td>
						<td>The Terrace</td>
						<td>Waukegan, IL</td>
					</tr>
					<tr>
						<td>Jun 28th</td>
						<td>Arranmore Ale Fest</td>
						<td>Oswego, IL</td>
					</tr>
					<tr>
						<td>Jul 4th</td>
						<td>Firewater Saloon</td>
						<td>Chicago, IL</td>
					</tr>
					<tr>
						<td>Jul 19th</td>
						<td>MT Barrels</td>
						<td>Schaumburg, IL</td>
					</tr>
					<tr>
						<td>Jul 26th</td>
						<td>Pinch Penny Pub</td>
						<td>Carbondale, IL</td>
					</tr>
					<tr>
						<td>Aug 16th</td>
						<td>Lincoln Square Lanes</td>
						<td>Chicago, IL</td>
					</tr>
					<tr>
						<td>Aug 17th</td>
						<td>Firewater Saloon</td>
						<td>Chicago, IL</td>
					</tr>
					<tr>
						<td>Oct 4th</td>
						<td>Toby Keiths I Love This Bar & Grill</td>
						<td>Auburn Hills, MI</td>
					</tr>
				</tbody>
			</table>
		</div>
		<%= render partial: "application/page_sidebar" %>
	</div>
</div>
